{% set latlngs = [] %}
{% for im in page.media.images %}
  {% set image = page.media.images|slice(loop.index0,1)|first %}
  {# {{ dump(image) }} #}
  {% if image.metadata.gps %}
    {# {{ dump(image.metadata.gps) }} #}
    {% set lat = image.metadata.gps|split(',')|first %}
    {% set lon = image.metadata.gps|split(',')|last %}
    {% set latlngs = latlngs|merge([[lat,lon]]) %}
  {% else %}
    {% set exif = exif(image.filepath, true) %}
    {# {{ dump(exif) }} #}
    {% if exif.GPSLatitude and exif.GPSLongitude %}
      {% set lat1 = exif.GPSLatitude[0]|split('/')[0] %}
      {% set lat2 = exif.GPSLatitude[1]|split('/')[0] %}
      {% set lat3 = exif.GPSLatitude[2]|split('/')[0] %}

      {% set lon1 = exif.GPSLongitude[0]|split('/')[0] %}
      {% set lon2 = exif.GPSLongitude[1]|split('/')[0] %}
      {% set lon3 = exif.GPSLongitude[2]|split('/')[0] %}
      
      {# DMS - Degrees Minutes Seconds - to DD - Decimal Degrees #}
      {% if exif.GPSLongitude[1]|split('/')[1] == 1 %}
        {% set lat = lat1 + (((lat2 * 60) + (lat3 / 100)) / 3600) %}
        {% set lon = lon1 + (((lon2 * 60) + (lon3 / 100)) / 3600) %}
      {# DDS - Decimal Degrees Minutes - to DD - Decimal Degrees #}
      
      {% elseif exif.GPSLongitude[1]|split('/')[1] == 1000000 %}
          {% set lat = lat1 + ((lat2 / 1000000) / 60) %}
          {% set lon = lon1 + ((lon2 / 1000000) / 60) %}
      {% endif %}
     
      {% if exif.GPSLongitudeRef == "W" %}
        {% set lon = -lon %}
      {% endif %}
      
      {% if exif.GPSLatitudeRef|first == "S" %}
        {% set lat = -lat %}
      {% endif %}
      
      {% set latlngs = latlngs|merge([[lat,lon]]) %}
    {% endif %} 
    
  {% endif %}  
{% endfor %}

{% if latlngs %}
  
  <div class="instamap" id="instamap{{ page.id }}" data-lat="{{ latlngs[0][0] }}" data-lon="{{ latlngs[0][1] }}"></div>

  {% do assets.addJs('theme://js/maps.js', {group:'bottom'}) %}
{% endif %}